@using EntityLayer.Concrete
@model List<Contact>

@foreach (var item in Model)
{
    <div>
        <i class="fa fa-envelope mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:@item.Mail">@item.Mail</a>
        <i class="fa fa-phone mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:@item.Gsm">@item.Gsm</a>
    </div>
}
