<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            
            @await Component.InvokeAsync("ContactNavbar")

            @await Component.InvokeAsync("SocialNavbar")
        </div>
    </div>
</nav>