<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="/Anasayfa/">
            <img src="/img/logo.png"  style="height:89px; width:190px;"/> 
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Anasayfa/">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Hakkimizda/">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Urunler/">Projeler</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/iletisim/">İletişim</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="position-relative text-decoration-none btn btn-outline-dark" href="/TeklifVer/" style="margin-left:12px;">
                    Teklif Al
                </a>
            </div>
        </div>

    </div>
</nav>