
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title> 403 Forbidden - Erişim İzni Yok</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="lock"></div>
    <div class="message">
        <h1>Bu Sayfa Erişim İzniniz Yok.</h1>
        <p>403 Hata koduyla karşılaşmamanız gerektiğini düşünüyorsanız site yöneticiyle iletişime geçin.</p>
        <p>Eğer yolunuzu kaybettiyseniz <a href="/Main/" class="btn btn-primary">Buraya Tıklayın.</a></p>
    </div>
    <!-- partial -->

</body>
</html>