
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WebARC - Yönetim Paneli</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admintemplate/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/admintemplate/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/admintemplate/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/admintemplate/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->s
    <link rel="stylesheet" href="/admintemplate/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/admintemplate/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/admintemplate/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/admintemplate/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <script src="~/ckeditor/ckeditor.js"></script>
    <link href="~/ckeditor/contents.css" />
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Anasayfa/" class="nav-link btn btn-outline-danger">Siteye Git</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="/admintemplate/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">WebARC PANEL</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/admintemplate/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@ViewBag.NameIdentity</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/Dashboard/" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Anasayfa
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    İçerikler
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Product/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ürünler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Slider/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Slayt</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/OurServices/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Hizmetler</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Blog/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bloglar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Reference/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Referanslar</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Team/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kadro / Personel </p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-toolbox"></i>
                                <p>
                                    Blog İçerikleri
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Blog/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Blog/Haber İçerikleri</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Blog/AddBlog" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Blog/Haber Ekle</p>
                                    </a>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tools"></i>
                                <p>
                                    Sayfa Ayarları
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/SocialLinks/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sosyal Medya</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/PrivacyPolicy/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Gizlilik Politikası</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/FAQ/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>S.S.S</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Contact/" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>İletişim</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        
                        <li class="nav-header">Genel Ayarlar</li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon far fa-file-alt"></i>
                                <p>
                                    Site Ayarları
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Anasayfa/" class="nav-link">
                                <i class="nav-icon far fa-window-close"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
            
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.4
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/admintemplate/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/admintemplate/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/admintemplate/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/admintemplate/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/admintemplate/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/admintemplate/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/admintemplate/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/admintemplate/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/admintemplate/plugins/moment/moment.min.js"></script>
    <script src="/admintemplate/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/admintemplate/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/admintemplate/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/admintemplate/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admintemplate/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/admintemplate/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/admintemplate/dist/js/demo.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
